<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row no-gutters">
       <div id="appframe" >
          <img id="slot_L" src="{{ slot_L }}" height="199" width="80" alt="slot wheel 1"/>
          <img id="slot_M" src="{{ slot_M }}" height="199" width="80" alt="slot wheel 2"/>
          <img id="slot_R" src="{{ slot_R }}" height="199" width="80" alt="slot wheel 3"/>
          <img id="slot_handle" src="{{ slot_handle }}" height="943" width="114" 
                (mousedown)="pullHandle($event)" (mouseup)="initiatePull($event)"/>
        
          <img [ngStyle]="{'visibility':winner_visible ? 'visible' : 'hidden'}" id="winner_light" src="{{ winner_IMG }}" height="48" width="247" alt="winner indicator"/>
      </div>
    </div>
  </div>
</section>