@charset "UTF-8";
/* CSS Document */
.container {
  margin-top: 0px;
}
#appframe {
  background-image: url(../../assets/img/slot/slotmachine.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  position: absolute;
  min-height: 1080px;
  width: 100%;
}

#slot_L {
  position: absolute;
  left: 354px;
  top: 272px;
  min-height: 199px;
  width: 80px;
}

#slot_M {
  position: absolute;
  left: 482px;
  top: 272px;
  min-height: 199px;
  width: 80px;
}

#slot_R {
  position: absolute;
  left: 606px;
  top: 272px;
  min-height: 199px;
  width: 80px;
}

#slot_handle {
  position: absolute;
  left: 860px;
  top: 10px;
  min-height: 943px;
  width: 114px;
}

#winner_light {
  position: absolute;
  left: 318px;
  top: 540px;
  min-height: 48px;
  width: 247px;
  visibility: hidden;
}

@media (max-width: 786px) {
  #appframe {
    transform: scale(0.4); /* Equal to scaleX(0.7) scaleY(0.7) */
    background-color: pink;
  }
}
