.main-section {
  background-color: blanchedalmond;
}
.container {
  width: 100%;
  height: 100%;
  background: white;
  padding: 10px;
}

.main_img {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #2196f3;
  padding: 3px;
  font-size: 20px;
  text-align: center;
}

.grid-item {
  /*background-color: rgba(255, 255, 255, 0.9);*/
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  
}

.grid-item-selected {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
 
}

.positive {
  background-color: rgba(255, 255, 255, 0.9);
}

.negative {
  background-color: #2196f3;
}
