<section class="ftco-section ftco-no-pb">
   <div class="container">
      <div class="row no-gutters">
         <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
            style="background-image: url('../assets/img/main/planos_640.jpg');background-repeat: no-repeat;overflow:hidden;">
            </div>      
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                  <div class="heading-section p-md-5">
                        <h2 class="mb-4">Bienvenido a mi site!</h2>    
                        <p>Este es un site perteneciente a Jaume Balagué Sans para realizar pruebas de concepto y arquitecturas.     </p>
                        <p>Hasta ahora se ha usado: Angular, Java, Python y funciones Lamda de Amazon AWS. </p>
                  </div>
            </div>
      </div>
   </div>
</section>